.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  /* .about-gif {
    width: 250%;
    height: 250%;
    background-color: #333; */
  /* } */
  .grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    width: 70%;
    align-self: center;
    margin-left: 15%;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
  #our-variety {
    text-align: center;
    color: blue;
  }
  
  
  
  .background {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
  }
  
  .hidentext {
    background: white;
    color: black;
  }

  .choice{
    display: none;
    padding-left: 2%;
    padding-right: 2%;
  }
  .deliver{
    display: none;
  }
  .delivery{
    display: none;
    padding-left: 10%;
    padding-right: 10%;
  }
  td,th{
    font-size: 20px;
    color: white;
  }
  .choice h2{
    color:orange;
    text-align: left;
  }
  #your-orders{
    color: white;
    font-size: 30px;
  }
  .order{
    background-attachment: scroll;
    background-image: url("images/pizzabg.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-top: 4%;
    padding-bottom: 4%;
  }
  .order-overlay{
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 20px;
    padding-left: 6%;
  }

  footer {
    text-align: center;
    padding-top: 30px;
    font-family: 'Delius Swash Caps', cursive;
  }
  
  footer p {
    margin-top: 10px;
  }
  .controls-top h2 {
    text-align: center;
    color: red;
    padding-top: 30px;
  }
  #contactdetails {
    background: url(images/pizzabg2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: blue;
  }
  .content {
    background-color: burlywood;
  }
  .content h3 {
    text-align: center;
  }
  #about-des {
    background: radial-gradient(#fff, #704170);
  }
  .btn {
    display: inline-block;
    background: #ff523b;
    color:#fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background o.5s;
  }
  .btn1:hover {
    background: #563434;
  }
  #information {
    padding: 15px;
    text-align: justify;
    color: #ff523b;
  }
  #regards {
    color: green;
    font-size: large;
    text-align: center;
    text-decoration: indianred;
  }